<html lang="uk">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        td {
            width: 40px;
            height: 40px;
            border: 1px solid black;
        }

        table {
            border: 1px solid black;
            border-spacing: 0;
        }

        #error_messages {
            color: red;
        }
    </style>
</head>

<body>
    <div id='base'>
        <h1>
            <%= htmlWebpackPlugin.options.title %>
        </h1>
        <button onclick="location.href = 'forecast.html';" id="myButton">
            See Forecast
        </button>
        <form name="addWeatherData">
            <select name="type" id="type">
                <option value="temperature">Temperature</option>
                <option value="wind speed">Wind Speed</option>
                <option value="cloud coverage">Cloud Coverage</option>
                <option value="precipitation">Precipitation</option>
            </select>
            <select name="city" id="city">
                <option value="horsens">Horsens</option>
                <option value="aarhus">Aarhus</option>
                <option value="copenhagen">Copenhagen</option>
            </select>
            <select name="precipitation-type" id="precipitation-type">
                <option value="hail">Hail</option>
                <option value="rain">Rain</option>
                <option value="snow">Snow</option>
                <option value="sleet">Sleet</option>
            </select>
            <select name="wind-direction" id="wind-direction">
                <option value="north">North</option>
                <option value="south">South</option>
                <option value="east">East</option>
                <option value="west">West</option>
                <option value="north-east">Northeast</option>
                <option value="south-east">Southeast</option>
                <option value="north-west">Northwest</option>
                <option value="south-west">Southwest</option>
            </select>
            <input name="value" id="value">
            <button id="formButton">
                Add weather measurement
            </button>


        </form>
        <form name="placeSelection">
            <input type="radio" name="placeRadio" id="all" value="" checked>
            <label for="all">All</label>
            <input type="radio" name="placeRadio" id="horsens" value="Horsens">
            <label for="horsens">Horsens</label>
            <input type="radio" name="placeRadio" id="aarhus" value="Aarhus">
            <label for="aarhus">Aarhus</label>
            <input type="radio" name="placeRadio" id="copenhagen" value="Copenhagen">
            <label for="copenhagen">Copenhagen</label>
        </form>
        <h2>Information about the last day</h2>
        <table id='functions'>
            <thead>
            <tr>
                <td>Minimum temperature</td>
                <td>Maximum temperature</td>
                <td>Total precipitation</td>
                <td>Average wind speed</td>
            </tr>
            </thead>
            <tbody id='functions_data'></tbody>
        </table>
        <h2>Information about latest measurements</h2>
        <table id='weather'>
            <thead>
                <tr>
                    <td>Type</td>
                    <td>Time</td>
                    <td>Place</td>
                    <td>Value</td>
                    <td>Unit</td>
                    <td>Precipitation type</td>
                    <td>Direction</td>
                </tr>
            </thead>
            <tbody id='weather_data'></tbody>
        </table>
        <p id='error_messages'>
    </div>
    <script src="main.js"></script>
</body>

</html>